@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media screen and (max-width:600px) {
    
  .navbar {
    font-size: 0.75em;
  }

  .h1 {
    font-size: 1.25em;
  }

  .header {
    font-size: 1.5em;
  }

  .content {
    font-size: .8em;
  }
}