.navbar {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgb(189, 189, 189);
}

.title{
    margin-left: 10%;
    flex: 1;
}

.links { 
    flex: 1;
    justify-content: space-between;
}

.home_link,
.skills_link,
.conatact_link
 {
    padding-right: 10%;
}