.navbar {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgb(86, 164, 197);
}

.title{
    margin-left: 10%;
    flex: 1;
}

.links { 
    flex: 1;
    justify-content: space-between;
}

.home_link,
.skills_link,
.contact_link
 {
    padding-right: 10%;
    display: flex 1;
    color: white; /* Set text color for the links */
  text-decoration: none;
}

.home_link:hover,
.skills_link:hover,
.contact_link:hover {
  text-decoration: underline; /* Add underline on hover */
}
